<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show page</title>
</head>
<body>
    <h1><%=animal.name%></h1>
    <h2><%=animal.animal_type%></h2>
    <footer>
        <form action="/animals/<%=animal._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
        <a href="/animals/<%=animal._id%>/edit"><button>Edit Pet</button></a>
       <a href="/animals"><button>All Pets</button></a>
    </footer>
</body>
</html>